


<%= image_tag current_user.profile_picture.url(:thumb) %> <br>


<%= link_to "Edit", edit_user_registration_path %> <br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %> <br>
<%= link_to "New organization", new_organization_path %> <br>

<p>My organizations</p>
<ul>
<% current_user.organizations.each do |organization| %>
	  <li>
	  	<%= link_to "#{organization.name}", organization_path(organization.id) %>
    </li>
<% end %>
</ul> 

<br>

<p>Events I'm attending!</p>
<ul>
	<% current_user.events.each do |event| %>
	<li>
		<%= link_to "#{event.name}", event_path(event.id) %>
	</li>
	<% end %>
</ul>

<%= link_to "Find an event!", events_path %>
<%= link_to "Find an organization!", organizations_path %>

