<h1>Find an event:</h1>

<%= form_tag events_path, method: :get do %>
  <%= select_tag :tag, options_for_select(Tag.all.pluck(:name)), prompt: "Search" %>
  <%= submit_tag "Submit" %>
<% end %>

<ul>
	<% @events.each do |event| %>
	<li>
		<p><%= link_to event.name, event_path(event) %></p>
		<p><%= event.date_time %></p>
		<p><%= event.description %></p>
	</li>
	<% end %>
</ul>

<%= link_to "Back to profile", user_path(current_user) %>