
<%= render 'shared/tag_search', link: events_path %>

<%= render 'shared/name_search', link: events_path, resource: "Events" %>

<%= render 'shared/time_search', link: events_path %>

<ul>
	<% @events.each do |event| %>
	<li>
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag event.organization.picture.url(:thumb), class: "media_object img-circle" %>
			</a>
			<div class="media-body">
				<h4><%= link_to event.name, event_path(event), class: "media-heading" %></h4>
				<%= event.description %>
			</div>
		</div>
	</li>
	<% end %>
</ul>

