<h1>Find an event:</h1>

<%= render 'shared/tag_search', link: events_path %>

<%= render 'shared/name_search', link: events_path, resource: "Events" %>

<ul>
	<% @events.each do |event| %>
	<li>
		<p><%= link_to event.name, event_path(event) %></p>
		<p><%= event.date %></p>
		<p><%= event.description %></p>
	</li>
	<% end %>
</ul>

<%= link_to "Back to profile", user_path(current_user) %>