<% content_for :search do %>
  <%= render 'shared/search_events' %>
<% end %>
<ul>
	<% @events.each do |event| %>
	<li>
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag event.organization.picture.url(:thumb), class: "media_object img-circle" %>
			</a>
			<div id="event_desc">
				<h4><%= link_to event.name, event_path(event), class: "media-heading" %></h4>
				<%= event.description[0, 500] %>
				<%= "..." %>
			</div>
		</div>
	</li>
	<% end %>
</ul>
