<h1>New event</h1>
<%= form_for(@event, url: organization_events_path(params[:organization_id])) do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_area :name %>
</div>
<div class="field">
  <%= f.label :date_time %><br>
  <%= f.datetime_field :date_time %>
</div>
<div class="field">
  <%= f.label :location %><br>
  <%= f.text_area :location %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :event_email %><br>
  <%= f.email_field :event_email %>
</div>
<% Tag.all.pluck(:name).each do |tag| %>
    <div class="field">
      <%= check_box_tag "tag_names[]", tag %>
      <span><%= tag %></span>
  </div>
  <% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to 'Cancel', organization_path(params[:organization_id]) %>
