<% content_for :search do %>
  <%= render 'shared/search_events' %>
<% end %>
<div class="row">
<div id="new_event_title">
	<%= @event.name %>
</div>
</div>

<div class="row">
<div class="col-md-3">
	<div id="org_pic">
		<br><%= image_tag @event.organization.picture.url(:thumb), class: "img-circle" %>
	</div>

	<% if @event.organization.owner != current_user %>
		<% if @event.users.include?(current_user) %>
			<br><%= link_to 'Unjoin', attendance_confirmation_path(@event.get_att_id(current_user)), method: :delete, class: "btn btn-primary" %><br>
		<% else %>
		  <br><%= link_to 'Join', attendance_confirmations_path(params: {user_id: current_user.id, event_id: @event.id}), method: :post, class: "btn btn-primary join-button" %><br>
		<% end %>
	<% end %>

	<br><%= link_to 'View organization', organization_path(@event.organization.id) %><br>

	<% if @event.organization.owner == current_user %>
		<%= link_to 'Edit event', edit_organization_event_path(@event.organization, @event) %><br>
		<%= link_to 'Delete event', event_path(@event), method: :delete %><br>
	<% end %>

	<div id="unhappy_title">
		<br><p>Attending:</p>
	</div>
	<p id="number-attending"><%= @event.users.size %></p>

	<div id="unhappy_title">
		<p>Tags:</p>
	</div>
	<ul id="tag-list">
		<% @event.tags.each do |tag| %>
		  <li><%= tag.name %></li>
		<% end %>
	</ul>
</div>

<div class="col-md-7">
	<div id="unhappy_title">
		<br><p>When & Where:</p>
	</div>

	<%= @event.date.strftime("%v") %>	
	<%= @event.time.strftime("%I:%M %p") %>
	&ndash;
	<%= @event.endtime.strftime("%I:%M %p") %><br>
	<%= @event.location %>

	<div id="unhappy_title">
		<br><p>Description:</p>
	</div>

	<%= @event.description %>

	
</div>
</div>

<div class="row">
	<div id="comments">
		<div id="unhappy_title">
			<br><p>Comments:</p>
		</div>	

		<%= form_for @new_comment do |f| %>
		  <%= f.label :content, "Add a comment:" %>
		  <%= f.text_field :content %>
		  <%= f.hidden_field :event_id, :value => @event.id %>
		<% end %><br>

		<div id="comment_list">
			<% @comments.each do |comment| %>
				<div id="comment_name"><%= comment.user.name %>:<br></div>
				<div id="comment_content"><%= comment.content %><br></div><br>
			<% end %>
		</div>
	</div>
</div>

<%= paginate @comments %>

