<h1>Event home page!</h1>

<table>
	<tbody>
	  <tr><td><%= @event.name %></td></tr>
	  <tr><td><%= @event.location %></td></tr>			  
	  <tr><td><%= @event.description %></td></tr>
	</tbody>
</table>

<%= link_to 'My profile', user_path(current_user.id) %>
<%= link_to 'Organization profile', organization_path(@event.organization.id) %>
<% if @event.users.include?(current_user) %>
	<%= link_to 'Unjoin', attendance_confirmation_path(@event.get_att_id(current_user)), method: :delete %>
<% else %>
  <%= link_to 'Join', attendance_confirmations_path(params: {user_id: current_user.id, event_id: @event.id}), method: :post %>
<% end %>
<%= link_to 'Event search', events_path %>