<div id="sign_form">

	<br><%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-inline"}) do |f| %>
	  	<div class='form-group'>
	  		<div class='input-group'>
			  	<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
		 	</div>
	  	</div>

	  	<div class='form-group'>
	  		<div class='input-group'>
			    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
			</div>
		</div>


	  	<div class='form-group'>
	  		<div class='input-group'>
		  		<%= f.submit "Sign in", class: "btn btn-large btn-default"%>
		  	</div>
		</div>

		<div class='form-group'>
	  		<div class='input-group'>
		  		<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-large btn-default"%>
		  	</div>
		</div>
	<% end %><br>

</div>

<div id="mandela">
	<p>"It always seems impossible until it's done." - Nelson Mandela</p>
</div>

<div id="description">
	<p>Have you got time to</p>
	<div id="brighten">
		<p>Brighten</p>
	</div>
	<p>someone's day?</p>
</div>