<% content_for :search do %>
  <%= render 'shared/search_organizations' %>
<% end %>

<%= pluralize(@organizations.total_count, "search result") %> 

<ul>
	<br>
	<% @organizations.each do |organization| %>
	<li>
		<div class="media">
			<a class="pull-left" href="#">
				<%= image_tag organization.picture.url(:thumb), class: "media_object img-circle" %>
			</a>
			<div id="event_desc">
				<h4><%= link_to organization.name, organization_path(organization), class: "media-heading" %></h4>
				<% if organization.description.length > 500 %>
					<%= organization.description[0, 500] %>
					<%= "..." %>
				<% else %>
					<%= organization.description %>
				<% end %>
			</div>
		</div>
	</li>
	<br>
	<% end %>
</ul>

<%= paginate @organizations %>

