<h1>Find an organization:</h1>

<%= form_tag organizations_path, method: :get do %>
  <%= select_tag :tag, options_for_select(Tag.all.pluck(:name)), prompt: "Search" %>
  <%= submit_tag "Submit" %>
<% end %>



<ul>
	<% @organizations.each do |organization| %>
	<li>
		<p><%= link_to organization.name, organization_path(organization) %></p>
		<p><%= organization.description %></p>
	</li>
	<% end %>
</ul>

<br>

<%= link_to "Back to profile", user_path(current_user) %>