<h1>Organization home page!</h1>


<table>
	<tbody>
	  <tr><td><%= @organization.name %></td></tr>
	  <tr><td><%= image_tag @organization.picture.url(:thumb), class: "img-circle" %>
</td></tr>
	  <tr><td><%= @organization.description %></td></tr>
	  <tr><td><%= @organization.email %></td></tr>			  
	  <tr><td><%= @organization.phone %></td></tr>
	</tbody>
</table>

<p>Tags</p>
<ul>
	<% @organization.tags.each do |tag| %>
	  <li><%= tag.name %></li>
	<% end %>
</ul>

<% if @organization.owner == current_user %>
	<%= link_to 'Create event', new_organization_event_path(@organization) %>
	<%= link_to 'Edit organization', edit_organization_path(@organization) %>
	<%= link_to 'Delete organization', organization_path(@organization), method: :delete %>
<% end %>
<br>
<p>Events:</p>
<ul>
<% @organization.events.each do |event| %>
  <li><%= link_to "#{event.name}", event_path(event.id) %></li>
<% end %>
</ul>
<br>
