<% content_for :search do %>
  <%= render 'shared/search_organizations' %>
<% end %>

<div id="new_event_title">
	<%= @organization.name %><br>
</div>

<div class="col-md-3">

	<div id="org_pic">
		<br><%= image_tag @organization.picture.url(:thumb), class: "img-circle" %>
	</div>

	<% if @organization.owner == current_user %>
		<br><%= link_to 'Create event', new_organization_event_path(@organization) %><br>
		<%= link_to 'Edit organization', edit_organization_path(@organization) %><br>
		<%= link_to 'Delete organization', organization_path(@organization), method: :delete %>
	<% end %><br>

	<div id="unhappy_title">
		<br><p>Tags:</p>
	</div>
	<ul>
		<% @organization.tags.each do |tag| %>
		  <li><%= tag.name %></li>
		<% end %>
	</ul>

</div>

<div class="col-md-6">

	<div id="unhappy_title">
		<br><p>About Us:</p>
	</div>
	<%= @organization.description %>
	
	<div id="unhappy_title">
		<br><p>Contact Us:</p>
	</div>
	<%= @organization.email %><br>	  
	<%= @organization.phone %>

	<div id="unhappy_title">
		<br><p>Events:</p>
	</div>

	<ul>
		<% @organization.events.each do |event| %>
		  <li><%= link_to "#{event.name}", event_path(event.id) %></li>
		<% end %>
	</ul>

</div>
